<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <table>
            <tr>
                <th th:align="left">Username</th>
                <td><input type="text" th:field="*{username}" id="username"/></td>
            </tr>
            <tr>
                <th th:align="left">Password</th>
                <td><input type="password" th:field="*{password}" id="password"/></td>
            </tr>
            <tr>
                <th th:align="left">Name</th>
                <td><input type="text" th:field="*{name}" id="name"/></td>
            </tr>
            <tr>
                <th th:align="left">Surname</th>
                <td><input type="text" th:field="*{surName}" id="surname"/></td>
            </tr>
            <tr>
                <th th:align="left">Age</th>
                <td><input type="text" th:field="*{age}" id="age"/></td>
            </tr>
            <tr>
                <th th:align="left">Role</th>
                <td th:each="role : ${allRoles}">
                    <input name="roleId" type="checkbox" th:text="${role.getName().substring(5)}" id="role" th:value="${role.id}" th:field="*{roles}"/>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <td><form th:action="@{/admin}">
                <button type="submit">Back</button>
            </form></td>
            <td><form th:action="@{/logout}">
                <button type="submit">Logout</button>
            </form></td>
        </tr>
    </table>
</body>
</html>