<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>


<div>
    <table th:border="1">
        <tr>
            <th>ID</th>
            <td th:text="${user.getId()}">value</td>
        </tr>
        <tr>
            <th>NAME</th>
            <td th:text="${user.getName()}">value</td>
        </tr>
        <tr>
            <th>SURNAME</th>
            <td th:text="${user.getSurName()}">value</td>
        </tr>
        <tr>
            <th>AGE</th>
            <td th:text="${user.getAge()}">value</td>
        </tr>
        <tr>
            <th>USERNAME</th>
            <td th:text="${user.getUsername()}">value</td>
        </tr>
        <tr>
            <th>PASSWORD</th>
            <td th:text="${user.getPassword()}">value</td>
        </tr>
        <tr>
            <th colspan="2">ROLES</th>
        <td th:each="role : ${user.getRoles()}">
            <th:block th:text="${role.getName().substring(5)}"></th:block>
        </td>
        </tr>
    </table>
</div>
<br/>
<div>
    <table>
        <tr>
            <th>
                <form th:align="center" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                    <button type="submit">Edit</button>
                </form>
            </th>

            <th>
                <form th:align="center" th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </th>
            <th>
                <form th:align="center" th:action="@{/admin}">
                    <button type="submit">Back</button>
                </form>
            </th>

            <th>
                <form th:align="center" th:action="@{/logout}">
                    <button type="submit">Logout</button>
                </form>
            </th>
        </tr>
    </table>
</div>
</body>
</html>